<!DOCTYPE html>
<html
	xmlns:th="http://thymeleaf.org/"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout/"
	layout:decorator="layout"
	xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
	<th:block layout:fragment="content">
	
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<h1 class="mt-4 mb-4">Acesso negado</h1>
		</div>
		
		<div class="col-md-12 col-xs-12">
			<h2 class="mt-4 mb-4">Desculpe, você não tem autorização para acessar esta página!</h2>
			
		</div>
	</div>
		
	
	</th:block>
</html>