<!DOCTYPE html>
<html
	xmlns:th="http://thymeleaf.org/"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout/"
	layout:decorator="layout">

	<th:block layout:fragment="content">
		<div class="col-xs-12 col-md-12 text-center">
			<h4>Novo Ticket</h4>
			<form action="" th:action="@{/tickets/}" th:object="${ticket}" th:method="post">
				<div class="row">
					<div class="form-group col-md-12 col-xs-12">
						<input type="text" th:field="*{name}" name="name" placeholder="Assunto:" class="form-control" />
						<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Ticket Assunto Error</span>
					</div>	
				</div>
				<div class="form-group">
					<textarea th:field="*{description}" name="description" placeholder="Descreva sua solicitação" class="form-control" ></textarea>
					<span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="description">Ticket solicitação error</span>
				</div>	
				<div class="form-group">
					<select th:field="*{technician}" class="custom-select">
						<option th:each="tech : ${techs}"
						th:value="${tech.id}"
						th:text="${tech.name}"
						>
						</option>
					</select>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Criar</button>
					<a th:href="@{/tickets}" class="btn btn-secondary">Cancela</a>
				</div>
			</form>
		</div>
	</th:block>
</html>